.toggle-button {
    -fx-background-radius: 0;
    -fx-min-width: 40;
    -fx-min-height: 40;
}

.toggle-button:selected {
    -fx-background-color: black;
    -fx-background-radius: 0;
    -fx-min-width: 40;
    -fx-min-height: 40;
}

.root {
    -fx-padding: 20;
}